:root {
	--md-primary-fg-color: #0ab379;
	--md-primary-fg-color--dark: #0ab379;
	--md-primary-fg-color--light: #0ab379;
	--md-accent-fg-color: #f92ac1;
}

.wy-nav-content {
	max-width: none;
}

/* Use code style in h elements */
.md-typeset code {
	background-color: var(--md-code-bg-color) !important;
	border-radius: 0.1rem !important;
	padding: 0 0.2941176471em !important;
}

.color-block {
	height: 16px;
	width: 16px;
	display: inline-flex;
	vertical-align: middle;
	margin-right: 5px;
	border: 1px solid white;
}

@keyframes btna {
  0%, 40%, 80%, 100% {
    transform: scale(1);
  }
  20%, 60%, 80% {
    transform: scale(1.15);
  }
}
.btna {
  animation: btna 1000ms infinite;
  color: #22FF22
}

@keyframes wiggle {
    0% { transform: scale(1.2) rotate(0deg); }
    5% { transform: scale(1) rotate(3deg); }
   40% { transform: scale(1.2) rotate(8deg); }
   80% { transform: scale(1) rotate(-8deg); }
   95% { transform: scale(1.2) rotate(-3deg); }
  100% { transform: scale(1) rotate(0deg); }
}

.wiggle {
  animation: wiggle 500ms infinite;
  color: #55FF55
}

@keyframes jiggle {
	0% { transform: rotate(-3deg); }
	50% { transform: scale(1.1) rotate(3deg); }
	100% { transform: scale(1) rotate(0deg); }
}
.jiggle {
  animation: jiggle 1100ms infinite;
  color: #55FF55
}

@keyframes noggle {
	0% { transform: rotate(-4deg); }
	50% { transform: scale(1.3) rotate(3deg); }
	100% { transform: scale(1) rotate(0deg); }
}
.noggle {
  animation: noggle 650ms infinite;
  color: #FF0101
}


.no {
	color: #ff0000
}

.yes {
	color: #00ff00
}

.mild {
	color: #f1f1f1
}